/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.section {
  height: 100vh;
  width: 100%;
}

.section h2 {
  z-index: 10;
  position: absolute;
}

.section2  {
  height: 200vh;
}

.section2 > div,
.section > div {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
}

.one {
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 100;
  background-position: 0px 15px; 
  position: relative;
}

.one .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  color:#585858;
  position: absolute;
  width: 100%;
  height: 68px;
}

.one .nav {
  background-color: white;
}

.one .breadcrumbs {
  padding: 20px 0px;
  background-color: white;
}

.one .splashPage {
  position: relative;
  width: 364px;
  margin-top: 20px;
  left: 50%;
  margin-left: -182px;
}

.one .scrollArrow {
  position: absolute;
  width: 136px;
  top: 70%;
  left: 50%;
  margin-left: -68px;
}

.map {
  /* height: 200% */
  height: 200vh!important;
}

.three {
  background: green;
  z-index: 100;
}

#map {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index:0;
}

.overlay {
  background-color: white;
}

.listingCellNoOverlay{
  text-align: center;
  background-position: 10px 8px;
  background-image: url("./images/listingCellNoOverlay1.png");
  background-repeat: no-repeat;
  width:100%;
  height: 100%;
}

.listingCellOverlay{
  text-align: center;
  background-position: 9px 8px;
  background-image: url("./images/listingCellWithOverlay1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  width:100%;
  height: 100%;
}

.listingCell {

}

.contact {
  margin-top: 20px;
}

.contact .listings{
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  width: 351px;
  background-color: white;
  border-radius: 10px;
}

.contact .listings img{
  /* padding-bottom: 2px; */
}

.contact .listings img.submit{
  border-top: thin #DDD solid;
  padding-top:10px;
  margin-top:20px;
}

.contact .listings img.alerts{
  margin-top:10px;
  padding-bottom: 10px;
}

/* top left 184 217
middle left 184 137
top right 160 365
buttom 350 150 */


